@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>To contribute to this project, please contact the author.</p>
    <p>The source code to the web application may be found on the Git Hub source repository provided below.</p>
    <abbr title="Email">E:</abbr>
    dejan.dp.popovic@gmail.com<br />
    <abbr title="Git hub profile">G:</abbr>
    <a href="https://github.com/DejanPopovic1">https://github.com/DejanPopovic1</a><br />
</address>