@{
    ViewBag.Title = "Manage Decision Tree";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ol>
    <li>specify the number of rows and columns in the dataset</li>
    <li>Populate the dataset</li>
    <li>Click create decision tree to build the decision tree</li>
    <li>Create a new data entry and click calculate outcome</li>
</ol>

<p>First specify the number of rows and columns in the dataset</p>
