@{
    ViewBag.Title = "Manage Decision Tree";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

//var tableHeaderRowCount = 0;

<script>
    const { placeholder } = require("modernizr");

    function renewTable() {
        columns = document.getElementById("columns").value;
        rows = document.getElementById("rows").value;
        deleteTable();
        createTable(columns, rows);
    }

    function deleteTable() {
        var tableHeaderRowCount = 0;
        var table = document.getElementById('mainTable');
        var rowCount = table.rows.length;
        for (var i = tableHeaderRowCount; i < rowCount; i++) {
            table.deleteRow(tableHeaderRowCount);
        }
        //tableHeaderRowCount++;
    }

    function createTable(columns, rows) {
        var body = document.getElementById("placeholder"),
            tbl = document.createElement('table');
        tbl.id = 'mainTable';
        //tbl.setAttribute("id=mainTable");
        //tbl.id = "mainTable";
        //tbl.style.width = '100px';
        //tbl.style.border = '1px solid black';
        //tbl.border = "1";
        for (var i = 0; i < rows; i++) {
            var tr = tbl.insertRow();
            for (var j = 0; j < columns; j++) {
                var td = tr.insertCell();
                var input = document.createElement("input");
                input.type = "text";
                td.appendChild(input);
                td.style.border = '1px solid black';
            }
        }
        body.appendChild(tbl);
    }

</script>

<ol>
    <li>Specify the number of rows and columns in the dataset</li>
    <li>Populate the dataset</li>
    <li>Click create decision tree to build the decision tree</li>
    <li>Create a new data entry and click calculate outcome</li>
</ol>

<label for="fname">Columns:</label>
<input type="text" id="columns" value="3">
<label for="lname">Rows:</label>
<input type="text" id="rows" value="3">

<div>
    <button type="button" onclick="renewTable()">Clear and Resize table</button>
</div>

<div id="placeholder">

</div>


<table border="1" id="mainTable">
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
        <td><input type="text"></td>
    </tr>
</table>