@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the decision tree learning application</h1>
    <p class="lead">The decision tree learning application uses decision tree learning to create a model that predicts the value of a target variable based on several input variables </p>
    <p><a href="https://en.wikipedia.org/wiki/Decision_tree_learning" class="btn btn-primary btn-lg">Learn more about decision trees &raquo;</a></p>
</div>


<div class="jumbotron">
    <h2>Create a dataset and predict target variables</h2>
    <p>
        <ul>
            <li>Manually input a dataset</li>
            <li>Provide input parameters</li>
            <li>Output prediction for target variable</li>
        </ul>
    </p>
    <p><input type="button" value="Get Started &raquo" onclick="location.href='@Url.Action("About", "Home")'" class="btn btn-primary btn-lg"/></p>
</div>

